.fetauers {
  display: flex;
  justify-content: space-between;
  border: 1px solid #E9E9E9;
  border-radius: 6px;
  padding: 40px;
}

.features_item {
  flex: 0 0 auto;
  width: fit-content;
  display: flex;
  align-items: center;
}

.features_item p {
  margin: 0;
  margin-left: 10px;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
}

.features_item p span {
  font-weight: 700;
  font-size: 26px;
}

@media(max-width:860px) {
  .fetauers {
    flex-wrap: wrap;
  }

  .features_item {
    margin: 10px auto;
  }
}

@media (max-width:480px) {
  .fetauers {
    padding: 20px 15px;
  }

  .features_item p {
    font-size: 18px;
  }

  .features_item p span {
    font-size: 22px;
  }
}

@media(max-width:360px) {
  .features_item p {
    font-size: 18px;
  }

  .features_item p span {
    font-size: 20px;
  }
}